* {
	padding:0;
	margin:0;
}
body, html {
	height: 100%;
	width: 100%;
	font-family: "Helvetica"
}
header{
	height: 60px;
	background-color:#000;
}
header h1{
	display: inline;
	color:#fff;
	line-height: 60px;
}
a{
	color:#fff;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	opacity: 0.4;
}
#pagename {
	float: left;
	padding-left: 40px;
}
#logout {
	float: right;
	padding-right: 40px;
}
#wrap {
	width: 1250px;
	background-color: #eee;
	margin-left: auto;
	margin-right: auto;
	z-index: 999;
}
#content {
	padding: 100px;
}
#map  {
	background-color: #ff00cc;
	height: 400px;
	width: 400px;
}
#distance {
	margin-right: 10px;
	float:right;
	margin-right: 250px;
}