* {
	padding:0;
	margin:0;
}
body, html {
	height: 100%;
	width: 100%;
	font-family: "Helvetica"
}
header{
	height: 60px;
	background-color:#000;
}
header h1{
	display: inline;
	color:#fff;
	line-height: 60px;
}
#pagename {
	float: left;
}
#wrap {
	width: 1250px;
	background-color: #eee;
	margin-left: auto;
	margin-right: auto;
}
#content {
	padding: 100px;
}
#Logo {
	height: 150px;
	width: 150px;
	margin-left: 470px;
}
#Username {
	height:50px;
	width:500px;
	margin-left: 440px;
}
#Password {
	height:50px;
	width:500px;
	margin-left: 440px;
}
#Submit {
	height:150px;
	width:500px;
	margin-left: 381px;
}
#logout {
	float: right;
	padding-right: 40px;
}
.UserPass {
	width: 300px;
	margin-left: 375px
}
.Button {
	height: 30px;
	width: 200px;
	margin-left: 430px;
	margin-top: 10px;
}
#pagename {
	width: 100%;
	text-align: center;
}