* {
	padding:0;
	margin:0;
}
body, html {
	height: 100%;
	width: 100%;
	font-family: "Helvetica"
}
header{
	height: 60px;
	background-color:#000;
}
header h1{
	display: inline;
	color:#fff;
	line-height: 60px;
}
#pagename {
	float: left;
	padding-left: 40px;
}
#logout {
	float: right;
	padding-right: 40px;
}
#wrap {
	width: 1250px;
	background-color: #eee;
	margin-left: auto;
	margin-right: auto;
}
#content {
	padding: 100px;
}
#box{
	color:#fff;
	display: inline-block;
	height: 300px;
	width: 300px;
	margin-left: 50px;
	background-color: #000;
	}
#row{
	display: inline-block;
	height: 300px;
	width:1200px;
	margin-left: auto;
	margin-right: auto;
}
#row1 {
	display: inline-block;
	height: 300px;
	width: 800px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 200px;
}
#row p, #row1 p{
	text-align: center;
	height: 20px;
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 275px;
}
#content a{
	color:#fff;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	opacity: 0.4;
}