.border {
	border: 4px solid #990033;
}
h2 {
	text-align: center;
	width: 700px;
	font-size: 30px;
	border: 4px solid black;
}
.non-border {
	border: 0px solid black;
}
body {
	background-image: url(http://subtlepatterns.com/patterns/ricepaper.png);
	font-family: 'Ubuntu', sans-serif;
}
p {
	font-size: 1.5em;
	width: 50%;
}
div {
	border: 3px solid black;
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 75em;
}
div::hover {
	padding-bottom: 100px;
}