* {
	padding:0;
	margin:0;
}
body, html {
	height: 100%;
	width: 100%;
	font-family: "Helvetica"
}
header{
	height: 60px;
	background-color:#000;
}
header h1{
	display: inline;
	color:#fff;
	line-height: 60px;
}
#pagename {
	float: left;
	padding-left: 40px;
}
#logout {

}
#wrap {
	width: 1250px;
	background-color: #eee;
	margin-left: auto;
	margin-right: auto;
}
#content {
	padding: 100px;
}
#box{
	color:#fff;
	display: inline-block;
	height: 300px;
	width: 300px;
	margin-left: 50px;
	background-color: #666666;
	border-radius:50px;
	}
#row{
	display: inline-block;
	height: 300px;
	width:1200px;
	margin-top: -50px;
	margin-left: auto;
	margin-right: auto;
	margin-left: -30px;
}
#row1 {
	display: inline-block;
	height: 300px;
	width: 1200px;
	margin-top: 50px;
	margin-left: auto;
	margin-left: -30px;
	margin-right: auto;
}

#row p, #row1 p{
	text-align: center;
	height: 20px;
	margin-top: auto;
	margin-bottom: auto;
	margin-top: 55px;
}
a{
	color:#fff;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	opacity: 0.4;
}
#box img{
	width: 128px;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	padding-left: 85px;
	padding-top: 75px;
}
.logout:hover span {
	display:none;
}
.logout:hover:before {
	content:"logout";
		
}
#dashboard {
	float: left;
	padding-left: 40px;
}
#logout {
	float: right;
	padding-right: 40px;
	display: inline;
	color: #ffffff;
	font-family: 'Helvetica';
	line-height: 65px;
	font-size: 22px;
	text-decoration: underline;
}
#pagename {
display: inline;
	text-align: center;
	padding-left: 500px;
}
.button {
	width: 75px;
	height: 25px;
	margin-left: 150px;
}
.text{
	width: 400px;
}
table, .reference{
	width:1100px;
	display: table;
	border-collapse: separate;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
tbody{
	display: table-row-group;
vertical-align: middle;
}tr {
	display: table-row;

}
td {
	border: 1px solid #d4d4d4;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: top;
}
#addround {
	float:right;
}
#map {
	margin-left:300px;
	margin-top:-90px;
	padding-bottom: 20px;}
#round {
	margin-top: -40px;
}
#delete {
	padding-left: 90px;
}
.delete {
	padding-left: 20px;
}